.left{
    display:flex;
    /*justify-content: space-around;*/
    width: 100px;
    flex:1;
}
.centre{
    display:flex;
  flex:2;
}
header i{
    cursor:pointer;
}
nav{
    display: flex;
    justify-content:space-between;
    background-color: white;
}
.right{
    display: flex;
    width: 100px;
  flex: 2;
}
.image{
    width: 50px;
    height: 50px;
}

.left .logo i{
    color: red;
    margin-left: 2rem;
}
/*.centre .submit{
    height: 23px;
}*/
.centre .submit{
    height: 23px;
}
.sidebar-nav{
    position: relative;
    display: flex;
    margin-left: 50px;
    border: 1px solid black;
    width: 300px;
    height: 850px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: white;
    flex-wrap: nowrap;
  }
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.sidebar-nav a{
    margin-bottom: 20px;
    word-spacing: 5px;
    color: black;
    padding: 10px;
    font-weight: bold;
}
